extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box

        img.about-img(src='/static/images/profile-running.jpg', alt='')

        h1 Andrew Hickman

        p Full Stack JavaScript Developer


        .about-bio
          p Seeking to put my passion for full-stack JavaScript development and technology in the service of creating engaging online experiences. I look forward to applying my previous work and volunteer experience in digital marketing and retail to a new career in tech.

      .skills-contact-box.box
        a.btn-link(href='https://www.linkedin.com/in/andrewbhickman/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/jsbard' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/imreallyandrew' target="_blank") Twitter
        h6 Skills

        ul
          li React
          li React Router
          li Axios, Fetch, and Public APIs
          li Express
          li Pug
          li Node.js
          li Git and GitHub
          li Object Oriented Programming
          li Visual Studio
          li Accessibility
          li JavaScript
          li HTML
          li CSS

        h6 Contact Info

        ul
          li hello@andrewhickman.me

    nav.nav
      a(href='/')
        span &larr;
        |  Back