extends layout.pug

block content

  article.portfolio-intro

    h1 Let's make the Web great, together!

    p This web app, as well as the following projects, were built with modern JavaScript standards and tools, as part of Treehouse's Full-Stack JavaScript Techdegree.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in locals
        if project.id
          .cell
            a(href=`project/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
              h5 #{project.project_name}



